.root {
  height: 100%;
  position: relative;
}

.controls,
.legend {
  position: absolute;
  left: var(--controls-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  align-items: flex-start;
}

.controls {
  top: var(--controls-spacing);
  pointer-events: none;
}

.controls > * {
  pointer-events: auto;
}

.legend {
  bottom: 50;
}
